/* Estilos generales */

@import url('https://fonts.cdnfonts.com/css/eighty-miles');
html {
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: 'EIGHTY MILES', sans-serif;
    background: linear-gradient(135deg, #000000 0%, #000000 100%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}


/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */


/** {
  scrollbar-width: thin;
  scrollbar-color: #FFBB1C #00FFF7;
}*/


/* Chrome, Edge and Safari */

*::-webkit-scrollbar {
    height: 11px;
    width: 11px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #00FFF7;
    border: 9px dotted #FFFFFF;
}

*::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
    border-radius: 11px;
    background-color: #FFBB1C;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #000000;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #000000;
}


/*Navbar*/

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 0) 0%, rgb(239 166 72) 68%);
    padding: 1rem;
    text-align: center;
    z-index: 1000;
}

.navbar h1 {
    margin: 0;
    font-size: 5rem;
    color: #ffffff;
}

.filters {
    margin-top: 1rem;
}

.filters button {
    background: #ffcc00;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.filters button:hover {
    background: #e6b800;
}


/* Página de bienvenida */

.welcome-page {
    text-align: center;
}

h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.7);
}

button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    color: white;
    background: #ffd700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(255, 215, 0, 0.4);
}

button:hover {
    background: #e6c200;
    transform: scale(1.05);
}


/* Imagen flotante*/

.floating-image-container {
    position: relative;
    max-width: 50%;
    margin-bottom: 2rem;
}

.floating-image {
    width: 100%;
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}


/* Página principal de Pokémon */

.main-page {
    background: #000000;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-page h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: #ffd700;
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.7);
}

.pokemon-container {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    background: #1f1f1f;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    width: 100%;
}

.pokemon-card {
    background: #303030;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    transition: transform 0.3s ease;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pokemon-card:hover {
    transform: scale(1.05);
}

.pokemon-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.pokemon-details h3 {
    margin: 0.5rem 0;
}

.pokemon-details button {
    background: #ffdb3c;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.pokemon-details button:hover {
    background: #33d6ff;
}

.sentinel {
    width: 100%;
    height: 1px;
    background: transparent;
}


/* Imagen flotante */

.floating-image-container {
    position: relative;
    max-width: 40%;
}

.floating-image {
    width: 100%;
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}


/* Página de detalles */

.pokemon-details-page {
    padding: 2rem;
    background: #0d1b2a;
    color: white;
    text-align: center;
}

.pokemon-details-page img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.pokemon-details-page h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #ffd700;
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.7);
}

.pokemon-details-page p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
        /* Ajusta el tamaño de fuente para dispositivos móviles */
    }
    .navbar h1 {
        font-size: 3rem;
        /* Reduce el tamaño del título de la barra de navegación */
    }
    .welcome-page h1 {
        font-size: 3rem;
        /* Reduce el tamaño del título en la página de bienvenida */
    }
    .pokemon-container {
        padding: 1rem;
        /* Reduce el espacio alrededor de los contenedores de Pokémon */
    }
    .pokemon-card {
        padding: 0.5rem;
        /* Reduce el espacio alrededor de las tarjetas de Pokémon */
    }
    /* Agrega más ajustes según sea necesario para elementos específicos */
}